.git
.idea
.vscode
.DS_Store

vendor
**/vendor

composer.lock
composer.local.json
composer.local.lock
**/composer.lock
**/composer.local.json
**/composer.local.lock

.phpunit.result.cache
.phpunit.cache
**/.phpunit.result.cache
**/.phpunit.cache

build
dist
coverage
storage
var
**/build
**/dist
**/coverage
**/storage
**/var
